.Post {
  width: 200px;
  padding: 16px;
  text-align: center;
  border: 1px dotted orchid;
  box-shadow: 5px 5px 5px 2px orchid;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.75rem;
}

.Post:hover,
.Post:active {
  background-color: orchid;
}

.Author {
  margin: 16px 0;
  color: #ccc;
}
